@media screen and (max-width: 768px) {
    *{
        
    }
    body{
        scroll-behavior: smooth;
    }
    .header{
        height: auto;
        width: 100%;
        gap: 6px;
        padding-block: 12px;
    }
    #header-space{
        display: none;
    }
    #logo{
        height: 48px;
        width: 48px;
        margin-left: 12px;
    }
    #logo-img{
        height: 48px;
        width: 48px;
    }
    #logo-text{
        font-size: 24px;
    }
    #text-nav{
        display: none;
    }
    #open-side{
        display: flex;
        flex-direction: row;
        justify-self: flex-end;
        justify-content: flex-end;
        flex: 1;
        align-items: flex-end;
        margin-right: 12px;
    }
    #open-img{
        height: 32px;
        width: 32px;
        filter: invert(85%) sepia(38%) saturate(927%) hue-rotate(175deg) brightness(103%) contrast(103%);
    } 
    /*landing*/
    .landing-content{
        flex-direction: column-reverse;
        padding-bottom: 24px;
    }
    #landing-img, #main-img, #sub-img{
        height: 250px;
        width: 300px;
    }
    #landing-text{
        width: auto;
        align-items: center;
    }
    #landing-text h1{
        font-size: 20px;
        text-align: center;
    }
    #landing-text h2{
        font-size: 14px;
        text-align: center;
    }
    #landing-text h3{
        font-size: 16px;
        font-weight: normal;
    }
    #landing-text h4{
        font-size: 14px;
        font-weight: normal;
    }
    #landing-option a{
        color: #ECDFCC;
        font-size: 14px;
        font-weight: normal;
    }
    #landing-option a:hover{
        font-size: 20px;
        border-bottom: 2px solid #ECDFCC;
        transition: 0.3s ease-in-out;
    }
    /*main*/
    .main-content{
        flex-direction: column;
    }
    #main-text{
        padding-block: 12px;
        width: auto;
        text-align: center;
    }
    #main-text h2, #sub-text li{
        font-size: 14px;
        font-weight: normal;
    }
    /*sub-con*/
    .sub-content{
        background-color: #222831;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    #sub-text{
        width: 100%;
        text-align: center;
    }
    #moresub-text{
        width: auto;
        margin-top: -12px;
    }
    #moresub-text h2{
        padding-inline: 12px;
        margin-top: 0px;
        font-size: 14px;
    }
    #sub-text li{
        color: #ECDFCC;
        font-size: 14px;
        font-weight: normal;
        padding-inline: 12px;
        margin-top: 12px;
        text-align: left;
    }
    #sub-text h2{
        color: #ECDFCC;
        font-size: 16px;
        font-weight: normal;
        padding-inline: 12px;
        margin-top: 0px;
        margin-bottom: 6px;
        text-align: center;
    }
    /*trusted*/
    .trusted-content{
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-block: 24px;
        background-color: #ECDFCC;
    }
    #trusted-wrapper{
        width: 100%;
        flex-direction: column;
    }
    #trusted-text{
        flex-direction: column;
    }
    #trusted-text h1{
        font-size: 16px;
    }
    #uni-logo{
        height: 60px;
        width: 60px;
    }
    #uni-wrapper h2{
        font-size: 14px;
        margin-top: 6px;
    }
    /*footer*/
    .footer{
        flex-direction: column;
    }
    .copyright-wrapper{
        flex-direction: column;
        width: 90%;  
        align-items: center;
        margin-block: 0px;
        border-bottom: 2px solid #ECDFCC;
    }
    .copyright-wrapper h1{
        font-size: 16px;
        text-align: center;
    }
    .copyright-wrapper h2{
        font-size: 14px;
        text-align: center;
    }
    .copyright-wrapper h3, .copyright-wrapper h4{
        font-size: 14px;
    }
    .copyright-wrapper h4{
        margin-top: -6px;
    }
    #social-wrapper{
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        width: 60%;
        padding-left: 12px;
    }
    #social-img{
        display: flex;
        align-items: center; 
        justify-content: center;
        color: #ECDFCC;
        font-size: 24px;
        font-weight: bold;
        width: 100px;
        padding-block: 6px;
    }
    #social-img:hover{
        border-bottom: 2px solid #ECDFCC;
        transition: 0.1s ease-in-out;
    }
    #social-img i{
        font-size: 24px;
        color: #ECDFCC;
    }
    #social-img i:hover{
        font-size: 32px;
        transition: 0.3s ease-in-out;
    }
    .follow-wrapper, .morefollow-wrapper{
        align-items: center;
        width: 90%;
        gap: 12px;
    }
    .follow-wrapper{
        border-bottom: 2px solid #ECDFCC;
    }
    #category{
        color: #ECDFCC;
        font-size: 14px;
        font-weight: normal;
        width: 260px;
        text-align: center;
    }
    #category:hover{
        transition: 0.3s ease-in-out;
        font-size: 18px;
    }
}