body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.header{
    background-color: #222831;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    padding-block: 12px;
}
#logo{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    margin-left: 24px;
}
#logo-img{
    height: 100%;
    width: 100%;
}
#logo:hover{
    height: 66px;
    width: 66px;
    margin-right: 6px;
    transition: 0.3s ease-in-out;
}
#logo-text{
    color: #ECDFCC;
    font-size: 32px;
    font-weight: bold;
}
#header-space{
    padding: 12px;
    flex: 1;
}
#text-nav{
    display: flex;
    align-items: center; 
    color: #ECDFCC;
    font-size: 18px;
    font-weight: bold;
    gap: 6px;
    margin-right: 12px;
    width: 164px;
    padding-block: 6px;
    justify-content: center;
}
#text-nav:hover{
    border-bottom: 2px solid #ECDFCC;
    transition: 0.1s ease-in-out;
}
#text-nav:last-child{
    margin-right: 24px;
}
#navicon-img{
    height: 32px;
    width: 32px;
    filter: invert(85%) sepia(38%) saturate(927%) hue-rotate(175deg) brightness(103%) contrast(103%);
}
#navicon-img:hover{
    height: 42px;
    width: 42px;
    transition: 0.3s ease-in-out;
}
/*content*/
.content{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222831;
}
#main-content{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#content-img{
    height: 400px;
    width: 500px;
}
#main-content h2{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #ECDFCC;
    width: 1000px;
}
#main-content h3{
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: #ECDFCC;
    width: 1000px;
}
#ul-wrapper{
    background-color: #ECDFCC;
    color: #222831;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 12px;
}
#ul-wrapper h1, #ul-wrapper li{
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    color: #222831;
    width: 1000px;
}
#ul-wrapper2{
    background-color: #222831;
    color: #ECDFCC;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 12px;
}
#ul-wrapper2 h1, #ul-wrapper2 li{
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    color: #ECDFCC;
    width: 1000px;
}
#partners2-wrapper{
    background-color: #ECDFCC;
    color: #222831;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 12px;
}
#partners2-wrapper h3{
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: #222831;
    width: 1000px;
}
#partners-link{
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: #ECDFCC;
    background-color: #222831;
    padding-inline: 24px;
    padding-block: 12px;
}
#partners-link:hover{
    font-size: 20px;
    transition: 0.3s ease-in-out;
}
/*footer*/
.footer{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #222831;
}
.copyright-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin-block: 12px;
    width: 400px;
    height: auto;
    flex-wrap: wrap;
}
.copyright-wrapper h2{
    color: #ECDFCC;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}
.copyright-wrapper h3, .copyright-wrapper h4{
    color: #ECDFCC;
    font-size: 16px;
    font-weight: normal;
}
.copyright-wrapper h4{
    margin-top: -6px;
}
#social-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-left: -6px;
    padding-left: 12px;
    gap: 12px;
    width: 100%;
}
#social-wrapper a{
    font-size: 24px;
    color: #ECDFCC;
}
#social-wrapper a:hover{
    font-size: 32px;
    transition: 0.3s ease-in-out;
}
#social-img{
    display: flex;
    align-items: center; 
    color: #ECDFCC;
    font-size: 18px;
    font-weight: bold;
    gap: 6px;
    margin-right: 12px;
    width: 64px;
    padding-block: 6px;
    justify-content: center;
}
#social-img:hover{
    border-bottom: 2px solid #ECDFCC;
    transition: 0.1s ease-in-out;
}
#social-img i{
    font-size: 24px;
    color: #ECDFCC;
}
#social-img i:hover{
    font-size: 28px;
    transition: 0.3s ease-in-out;
}
#social-img i{
    font-size: 24px;
    color: #ECDFCC;
}
#social-img i:hover{
    font-size: 32px;
    transition: 0.3s ease-in-out;
}
.follow-wrapper, .morefollow-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 400px;
    height: auto;
    gap: 24px;
    flex-wrap: wrap;
}
#category{
    color: #ECDFCC;
    font-size: 18px;
    font-weight: normal;
    width: 260px;
    text-align: center;
}
#category:hover{
    transition: 0.3s ease-in-out;
    font-size: 20px;
}
.copyright-wrapper h1{
    color: #ECDFCC;
    font-size: 18px;
    font-weight: normal;
}
#open-side{
    display: none;
}